<div class="bg--white border--top footer-padding font text--blue">
  <div class="text-center">
    <div class="margin-bottom">Technologies used:</div>
    <div>
      <a href="https://angular.io/" class="tool"><img src="https://cdn.worldvectorlogo.com/logos/angular-icon.svg" width=25 height=25></a>
      <a href="https://getbootstrap.com/" class="tool"><img src="https://cdn.worldvectorlogo.com/logos/bootstrap-4.svg" width=25 height=25></a>
      <a href="https://github.com/" class="tool"><img src="https://camo.githubusercontent.com/7710b43d0476b6f6d4b4b2865e35c108f69991f3/68747470733a2f2f7777772e69636f6e66696e6465722e636f6d2f646174612f69636f6e732f6f637469636f6e732f313032342f6d61726b2d6769746875622d3235362e706e67" width=25 height=25></a>
    </div>
    <div class="copyright">&copy; 2018 Armine Khachatryan</div>    
  </div>
</div>
