.bg--light-gray {
    background-color: rgb(250, 250, 250);
}
.border--top {
    border-top: 2px solid rgb(221, 221, 221);
}
.tool:not(:first-child) {
    padding-left: 10px;
}
.footer-padding {
    padding: 20px;
}
.copyright {
    padding-top: 20px;
}
.font {
    font-family: Georgia, serif;
    font-size: 15px;
}
.text--gray {
    color: gray;
}