.bg--white {
    background-color: white;
}
.border--top {
    border-top: 1px solid rgb(222, 240, 255);
}
.margin-bottom {
    margin-bottom: 5px;
}
.tool:not(:first-child) {
    padding-left: 10px;
}
.footer-padding {
    padding: 20px;
}
.copyright {
    padding-top: 20px;
}
.font {
    font-family: 'Lato', sans-serif;
    font-size: 15px;
}
.text--blue {
    color: rgb(50, 148, 218);
}