  <div>
    <div class="text-center">
      <section id="about" class="container-fluid">
        <div id="about--content" class="container">
          <div class="row">
            <div class="col-md-4 col-lg-3 col-xl-3 col-12 img--align vertical--align-about">
              <img src="assets/images/default.png" alt="image" class="img-fluid default vertical--align-about-child">
            </div>
            <div class="col-md-8 col-lg-9 col-xl-9 col-12 text-left vertical--align-about">
              <div class="vertical--align-about-child">
                <div class="about--text">
                  Welcome to my website!
                  My name is Armine Khachatryan, and
                  I am currently a full-time software developer at <a class="click-here--color" href="https://www.csatf.org/">Contract Services Administration Trust Fund</a>, and
                  I recently graduated with a master's degree in software engineering from California State University, Northridge.
                  During my free time, I enjoy traveling, drawing, cooking, and photography.
                  Check out some of my drawings <a class="click-here--color" [routerLink]="['drawings']" (click)="clickDrawings()">here</a>.
                </div>
                <div class="about-btns text-center sm-buttons">
                  <button class="btn" (click)="navigate('github')"><i class="fa fa-github fa-lg"></i> Github</button>
                  <button class="btn" (click)="navigate('linkedin')"><i class="fa fa-linkedin-square fa-lg"></i> LinkedIn</button>
                  <button class="btn" (click)="navigate('email')"><i class="fa fa-envelope-square fa-lg"></i> Email</button>
                </div>
                <div class="about-btns text-center md-buttons">
                  <button class="btn" (click)="navigate('github')"><i class="fa fa-github fa-lg"></i></button>
                  <button class="btn" (click)="navigate('linkedin')"><i class="fa fa-linkedin-square fa-lg"></i></button>
                  <button class="btn" (click)="navigate('email')"><i class="fa fa-envelope-square fa-lg"></i></button>
                </div>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="experience-bg" class="container-fluid bg--section vertical--align text--black">
        <div class="display-4 vertical--align-child">EXPERIENCE</div>
      </div>
      <section id="experience">
        <div id="experience--content" class="container text-left">
          <div *ngFor="let exp of experience">
            <div class="row">
              <div class="h3 col-12 col-md-8">{{ exp.position }}</div>
              <div class="col-12 col-md-4 text-pos"><i>{{ exp.start_date }} - {{ exp.end_date }}</i></div>
            </div>
            <div>{{ exp.company }}</div>
            <div *ngFor="let project of exp.projects">
              <div *ngIf="project.name.length" class="work--project-name">Project: {{ project.name }}</div>
              <div class="work--project-summary">{{ project.summary }}</div>
              <ul>
                <li *ngFor="let description of project.description">{{ description }}</li>
              </ul>
            </div>
          </div>
        </div>
      </section>
      <div id="education-bg" class="container-fluid bg--section vertical--align text--black">
        <div class="display-4 vertical--align-child">EDUCATION</div>
      </div>
      <section id="education">
        <div id="education--content" class="container text-left">
          <div *ngFor="let edu of education" class="education">
            <div class="row">
              <div class="h3 col-12 col-sm-8">{{ edu.school }}</div>
              <div class="col-12 col-md-4 text-pos"><i>{{ edu.start_date }} - {{ edu.end_date }}</i></div>
            </div>
            <div class="row">
              <div class="col-12 col-sm-8">
                {{edu.degree}} in {{edu.major}}
              </div>
              <div class="col-12 col-sm-4 text-pos">	
                <span>GPA: </span>	
                {{edu.gpa}}
              </div>
            </div>
            <div *ngIf="edu.honors.length != 0">
              <span class="italic">Honors:</span>
              {{edu.honors}}
            </div>
            <div>
              <div><u>Relevant courses:</u></div>
              <div *ngFor="let course of edu.coursework; let i = index" class="course">
                <span *ngIf="i != edu.coursework.length-1">{{course}},</span>
                <span *ngIf="i == edu.coursework.length-1">{{course}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <div id="projects-bg" class="bg--section vertical--align text-black">
        <div class="display-4 vertical--align-child">PROJECTS</div>
      </div>
      <section id="projects">
        <div id="projects--content" class="container text-left">
          <div *ngFor="let project of projects" class="projects">
            <div class="row">
              <div class="h3">{{ project.name }}</div>
              <div>
                <button class="btn btn-sm view-btn" (click)="projectLink(project.url)">View</button>
              </div>
            </div>
            <div class="italic">Technologies: {{ project.technologies }}</div>
            <ul>
              <li *ngFor="let description of project.description">
                {{ description }}
              </li>
            </ul>
          </div>
        </div>
      </section>
      <div id="skills-bg" class="container-fluid bg--section vertical--align text--black">
        <div class="display-4 vertical--align-child">SKILLS</div>
      </div>  
      <section id="skills" class="container-fluid bg-skills col-8 bg-space">
        <div id="skills--content" class="container text-left">
          <ul class="row">
            <li *ngFor="let skill of skills">{{skill}}</li>
          </ul>
        </div>
      </section>
      <div class="scroll" (click)="scrollUp()">
        <i id="arrow-up" class="fa fa-chevron-up"></i>
      </div>
    </div>
  </div>
