  <div>
    <div class="text-center">
      <section id="about" class="container-fluid">
        <div>About</div>
        <div id="about--content" class="container text-left"></div>
      </section>
      <div id="experience-bg" class="bg--section text--black">
        <div class="display-1">EXPERIENCE</div>
      </div>
      <section id="experience">
        <div>Experience</div>
        <div id="experience--content" class="container text-left">
          <div *ngFor="let experience of experiences">
          </div>
        </div>
      </section>
      <div id="education-bg" class="bg--section text--black">
        <div class="display-1">EDUCATION</div>
      </div>
      <section id="education" class="container-fluid">
        <div>Education</div>
        <div id="education--content" class="container text-left">
          <div *ngFor="let education of educations" class="education">
            <div class="row">
              <div class="col-8 col-xs-12">{{ education.school }}</div>
              <div class="text-right col-4 col-xs-12"><i>{{ education.start_date }} - {{ education.end_date }}</i></div>
            </div>
            <div class="row">
              <div class="col-8">
                {{education.degree}} in {{education.major}}
              </div>
              <div class="col-4 text-right">
                <span>GPA: </span>
                {{education.gpa}}</div>
            </div>
            <div>
              <span *ngIf="education.honors.length != 0">Honors:</span>
              {{education.honors}}
            </div>
            <div>
              <div><u>Relevant courses:</u></div>
              <div *ngFor="let course of education.coursework; let i = index" class="course">
                <span *ngIf="i != education.coursework.length-1">{{course}},</span>
                <span *ngIf="i == education.coursework.length-1">{{course}}</span>
              </div>
            </div>
          </div>
        </div>
      </section>
      <section id="projects" class="container-fluid">
        <div>Projects</div>
        <div id="projects--content" class="container text-left"></div>
      </section>
      <div id="skills-bg" class="bg--section text--black">
        <div class="display-1">SKILLS</div>
      </div>  
      <section id="skills" class="container-fluid bg-skills col-8 bg-space">
        <div>Skills</div>
        <div id="skills--content" class="container text-left">
          <ul class="row">
            <li *ngFor="let skill of skills">{{skill}}</li>
          </ul>
        </div>
      </section>
      <div id="contact-bg" class="bg--section text--black">
        Contact
        <div class="contact">
          Text
        </div>
      </div>
    </div>
  </div>
