img {
    max-width: 300px;
    width: inherit;
}

#experience {
    padding: 50px;
}

#experience li {
    margin: 2px;
}

#education {
    padding: 50px;
}

#projects {
    padding: 50px;
}

#experience-bg {
    background-image: linear-gradient(rgba(214, 237, 255, 0.511), rgba(214, 237, 255, 0.511)), url('/assets/images/experience.png');
    background-position: 75% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

#education-bg {
    background-image: linear-gradient(rgba(214, 237, 255, 0.411), rgba(214, 237, 255, 0.411)), url('/assets/images/education.png');
    background-position: 10% 90%;
    background-size: cover;
    background-repeat: no-repeat;
}

#projects-bg {
    background-image: linear-gradient(rgba(214, 237, 255, 0.311), rgba(214, 237, 255, 0.311)), url('/assets/images/projects.png');
    background-position: 75% 25%;
    background-size: cover;
    background-repeat: no-repeat;
}

#skills-bg {
    background-image: linear-gradient(rgba(180, 186, 190, 0.311), rgba(180, 186, 190, 0.311)), url('/assets/images/skills.png');
    background-size: cover;
    background-repeat: no-repeat;
}

#skills {
    padding-top: 20px;
    padding-bottom: 20px;
}

#about {
    font-family: 'Lato', sans-serif;
}

#skills--content {
    white-space: pre-wrap;
    word-break: keep-all;
}

#skills--content li {
    display: inline;
    margin: 5px;
    padding: 2px 5px;
    border-radius: 5px;
    color: white;
    background-color: rgb(50, 148, 218);
    font-family: 'Lato', sans-serif;
}

.click-here--color {
    color: rgb(35, 131, 199);
}

.display-4 {
    font-size: 300%;
    font-weight: 400;
}

.text--black {
    color: black;
}

.bg--section {
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
    padding-top: 100px;
    padding-bottom: 100px;
}

.vertical--align-about {
    height: auto;
    line-height: 220px;
}

.vertical--align-about-child {
    display: inline-block;
    vertical-align: middle;
    line-height: 20px;
}

.vertical--align {
    height: auto;
    line-height: normal;
}

.vertical--align-child {
    display: inline-block;
    vertical-align: middle;
    line-height: normal;
}

.education {
    margin: 10px;
}

.course {
    display: inline;
    margin-right: 5px;
}

.border1 {
    border: 2px solid black;
    padding: 5px;
    margin: 20px;
}

.border2 {
    border: 2px solid black;
    padding: 5px;
    margin: 5px;
}

.default {
    border-radius: 50%;
}

/* experience */
.work--project-summary {
    font-style: italic;
}

.work--project-name {
    font-weight: bold;
}

.italic {
    font-style: italic;
}

.about-btns {
    margin-top: 20px;
}

.about-btns button {
    padding-top: 7px;
    padding-bottom: 7px;
    padding-right: 10px;
    padding-left: 10px;
    margin-left: 10px;
    margin-right: 10px;
    color: white;
    background-color: rgb(36, 130, 197);
    border: 1px solid rgb(96, 169, 221);
    font-family: 'Lato', sans-serif;
    letter-spacing: 1px;
}
.about-btns .btn:hover {
    background: rgb(96, 169, 221);
}

.view-btn {
    padding-right: 20px;
    padding-left: 20px;
    margin-left: 20px;
    color: white;
    background-color: rgb(36, 130, 197);
    border: 1px solid rgb(96, 169, 221);
    font-family: 'Lato', sans-serif;
}

.view-btn:hover {
    background: rgb(96, 169, 221);
}

.md-buttons {
    display: none;
}

.sm-buttons {
    display: block;
}

.about--text {
    text-align: left;
}

@media (max-width: 992px) {
    #experience .text-pos {
        text-align: left;
    }

    #education .text-pos {
        text-align: left;
    }

    .img--align {
        text-align: center;
    }

    .about--text {
        text-align: center;
    }

    .vertical--align {
        height: auto;
        line-height: normal;
    }
}

@media (min-width: 992px) {
    #experience .text-pos {
        text-align: right;
    }

    #education .text-pos {
        text-align: right;
    }

    .img--align {
        text-align: right;
    }
}

@media (max-width: 512px) {
    .md-buttons {
        display: block;
    }

    .sm-buttons {
        display: none;
    }

    .about-btns button {
        padding: 10px;
    }

    .about-btns {
        margin-bottom: 20px;
    }
}

@media (min-width: 768px) and (max-width: 992px) {
    .about-btns button {
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (min-width: 768px) {
    section#about {
        padding-top: 50px;
        padding-bottom: 50px;
    }
}

@media (max-width: 768px) {
    section#about {
        padding-top: 20px;
        padding-bottom: 20px;
    }

    .about--text {
        padding-top: 20px;
    }
    
    #skills.container-fluid {
        margin: 0px;
        max-width: 100%;
        text-align: center;
    }
    #education.container-fluid {
        margin: 0px;
        max-width: 100%;
        text-align: center;
    }
    #experience {
        padding-left: 10px;
        padding-right: 10px;
    }
    #education {
        padding-left: 10px;
        padding-right: 10px;
    }
    #projects {
        padding-left: 20px;
        padding-right: 20px;
    }
}