#skills {
    background-color: white;
}

#skills--content {
    white-space: pre-wrap;
    word-break: keep-all; /*this stops the word breaking*/
    width: 100%;
}

#skills--content li {
    display: inline;
    margin: 5px;
    padding: 2px;
    background-color: lightgray;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.col {
    padding: 0px;
    margin: 0px;
}

.position--fixed {
    position: fixed;
    display: block;
    left: 0px;
}

.w--100 {
    width: 100%;
}

.padding--top {
    padding-top: 250px;
}

.rectangle {
    width: 100%;
    background-color: white;
}