#armine {
    font-family: cursive;
    font-size: 20px;
    font-style: oblique;
}

.bg-white {
    background-color: white;
}

.text-royalblue {
    color: royalblue;
}

.float-right {
    float: right;
}

.padding {
    padding: 3px;
    display: block;
}

/* hamburger bar */
#icon {
    display: none;
}

#bar1, #bar2, #bar3 {
    width: 25px;
    height: 3px;
    background-color: #333;
    margin: 4px 0;
}

@media screen and (max-width: 800px) {
    #hamburger {
        width: 100%;
    }

    #icon {
        display: block;
        float: right;
    }
    
    #armine {
        padding-bottom: 1px;
    }

    #hamburger li {
        display: none;
    }

    /* responsive */
    #hamburger.responsive {
        position: relative;
    }

    #bar.responsive #icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    #hamburger.responsive li {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        background-color: lightgrey;
    }
}