#armine {
    font-family: cursive;
    font-size: 20px;
    font-style: oblique;
}

.bg-white {
    background-color: white;
}

.text-royalblue {
    color: royalblue;
}

.float-right {
    float: right;
}

.padding {
    padding: 3px;
}