<nav class="fixed-top">
  <div id="bar">
    <ul class="nav text--blue navbar-custom float-left">
      <li id="armine" class="nav-item">
        <div class="nav-link" (mouseover)="onMouseOver('armine')" (mouseleave)="onMouseLeave('armine')" (click)="onClick('Portfolio')">Armine Khachatryan</div>
      </li>
    </ul>
    <ul class="nav text--blue navbar-custom float-right">
      <li id="icon" class="nav-item padding" (mouseover)="onMouseOver('icon')" (mouseleave)="onMouseLeave('icon')">
        <a class="nav-link" (click)="hamburgerBar()">
          <div id="bar1"></div>
          <div id="bar2"></div>
          <div id="bar3"></div>
        </a>
      </li>
    </ul>
  </div>

  <ul id="hamburger" class="nav text--blue navbar-custom float-right">
    <li id="portfolio" class="nav-item padding">
      <div [routerLink]="['']" class="nav-link" (click)="onClick('Portfolio')" (mouseover)="onMouseOver('portfolio')" (mouseleave)="onMouseLeave('portfolio')">Portfolio</div>
    </li>
    <li id="blog" class="nav-item padding">
      <div class="nav-link" (mouseover)="onMouseOver('blog')" (click)="onClick('Blog')" (mouseleave)="onMouseLeave('blog')">Blog</div>
    </li>
  </ul>
</nav>
