#armine {
    font-family: cursive;
    font-size: 20px;
    font-style: oblique;
}

.bg-white {
    background-color: white;
}

.text--blue {
    color: rgb(62, 152, 217);
}

.float-right {
    float: right;
}

.padding {
    padding: 3px;
    display: block;
}

li {
    cursor: pointer;
}

a {
    color: inherit;
}

/* hamburger bar */
#icon {
    display: none;
}

#bar1, #bar2, #bar3 {
    width: 25px;
    height: 3px;
    background-color: rgb(62, 152, 217);
    margin: 4px 0;
}

@media screen and (max-width: 800px) {
    #hamburger {
        width: 100%;
    }

    #icon {
        display: block;
        float: right;
    }
    
    #armine {
        padding-bottom: 1px;
    }

    #hamburger li {
        display: none;
    }

    /* responsive */
    #bar.responsive:not(:first-child){
        box-shadow: 5px 0px #333333;
    }

    #bar.responsive #icon {
        position: absolute;
        right: 0;
        top: 0;
        width: 100%;
    }

    #hamburger.responsive {
        position: relative;
    }

    #hamburger.responsive li:first-child {
        border-top: 1px solid rgb(62, 152, 217);
    }
    
    #hamburger.responsive li {
        float: none;
        display: block;
        width: 100%;
        text-align: left;
        background-color: white;
    }
}