  <nav class="container-fluid fixed-top bg-white">
    <ul class="nav text-royalblue navbar-custom float-left">
      <li id="armine" class="nav-item">
        <a class="nav-link" (mouseover)="onMouseOver('armine')" on-mouseleave="onMouseLeave('armine')">Armine Khachatryan</a>
      </li>
    </ul>
    <ul class="nav text-royalblue navbar-custom float-right">
      <li id="resume" class="nav-item padding">
        <a class="nav-link" (mouseover)="onMouseOver('resume')" on-mouseleave="onMouseLeave('resume')">Resume</a>
      </li>
      <li id="blog" class="nav-item padding">
        <a class="nav-link" (mouseover)="onMouseOver('blog')" on-mouseleave="onMouseLeave('blog')">Blog</a>
      </li>
      <li id="about" class="nav-item padding">
        <a class="nav-link" (mouseover)="onMouseOver('about')" on-mouseleave="onMouseLeave('about')">About</a>
      </li>  
    </ul>            
  </nav>
