<nav class="fixed-top">
  <div id="bar">
    <ul class="nav text--blue navbar-custom float-left">
      <li id="armine" class="nav-item">
        <a class="nav-link" (mouseover)="onMouseOver('armine')" (mouseleave)="onMouseLeave('armine')">Armine Khachatryan</a>
      </li>
    </ul>
    <ul class="nav text--blue navbar-custom float-right">
      <li id="icon" class="nav-item padding" (mouseover)="onMouseOver('icon')" (mouseleave)="onMouseLeave('icon')">
        <a class="nav-link" (click)="hamburgerBar()">
          <div id="bar1"></div>
          <div id="bar2"></div>
          <div id="bar3"></div>
        </a>
      </li>
    </ul>
  </div>

  <ul id="hamburger" class="nav text--blue navbar-custom float-right">
    <li id="resume" class="nav-item padding">
      <div [routerLink]="['portfolio']" class="nav-link" (click)="hamburgerBar()" (mouseover)="onMouseOver('resume')" (mouseleave)="onMouseLeave('resume')">Portfolio</div>
    </li>
    <li id="blog" class="nav-item padding">
      <div class="nav-link" (mouseover)="onMouseOver('blog')" (click)="hamburger()" (mouseleave)="onMouseLeave('blog')">Blog</div>
    </li>
    <li id="about" class="nav-item padding">
      <div class="nav-link" (mouseover)="onMouseOver('about')" (click)="hamburger()" (mouseleave)="onMouseLeave('about')">About</div>
    </li>
  </ul>
</nav>
