a {
    cursor: pointer;
    color: inherit;
}

img {
    object-fit: cover;
    border-radius: 50%;
}

.text--grey {
    color: grey;
}

.fa {
    font-size: 25px;
}

.icons {
    margin-top: 10px;
}

.icons a {
    padding: 5px;
}

.row {
    padding: 0px;
}

.inline {
    display: inline;
}

.img {
    padding: 10px;
}

.sections {
    padding: 10px;
}

.height--100 {
    height: 100vh;
}

@include media-breakpoint-down(md) { 

    .default {
        background: red;
        width: 150px;
        height: 150px;
    }
}