<div [ngClass]="{'height--100': !md_size}" class="bg-white">
  <div class="container-fluid">
    <div [ngClass]="{'row': md_size}" class="text-center">
      <div [ngClass]="{'col-4': md_size, 'row-12': !md_size}"
        class="img">
        <img src="assets/images/default.png" alt="image" class="img-fluid default">
      </div>
      <div [ngClass]="{'col-8': md_size, 'row-12': !md_size}"
        class="sections">
        <div class="text--grey">
          <a>About</a>
        </div>
        <div class="text--grey">
          <a>Experience</a>
        </div>
        <div class="text--grey">
          <a>Education</a>
        </div>
        <div class="text--grey">
          <a>Projects</a>
        </div>
        <div class="text--grey">
          <a>Skills</a>
        </div>
        <div class="text--grey">
          <a>Contact</a>
        </div>
        <div class="text--grey icons">
          <a><i class="fa fa-github"></i></a>
          <a><i class="fa fa-linkedin-square"></i></a>
          <a><i class="fa fa-envelope-square"></i></a>
        </div>
      </div>
    </div>
  </div>
</div>
